
/*** Core page styles to set the primary colours and styles to be inherited by everything else ***/

/* Core Styling */
html {
        font-family:monospace;
        background-color: #000;
}
body{
        margin: 20pt auto;
        padding: 0 20pt;
        max-width:580pt;
        line-height:1.6;
        font-size:11pt;
        color:#f2a000;
        border-radius: 10pt;
}
a {
    color: #00A0FF;
}
a:visited {
    color: #D000FF;
}
/********************************/
/********************************/

/*** Post styling. This section is for defining markup classes to make it easier to write prettier posts. ***/

img {
    max-width: 100%;
    max-height: 100%;
    margin-top:20px;
    margin-bottom:20px;
    border-radius:8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

code {
        border-radius:16px;
        padding-left:30px;
        padding-right:30px;
        line-height:2em;

        padding-top:1px;
        padding-bottom:1px;
        color:#45FF45;
		font-family:monospace;
}

pre {
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
}

blockquote {
        border-left:3pt solid #f2a000;
        display:block;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 30px;
        padding-left: 10px;
        margin-right: 40px;
        font-style: italic;
}

hr {
        color:#f2a000;
}

#endline { /* Special kind of <hr> for spacing out footnotes from the rest of a post */
        color:#65f85a;               
        margin-left: auto;              
        margin-right: auto;
        max-width: 300px;
        margin-top: 80px;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

/* Style for inline dates. These are configured via a separate include file in /config/content_header.html. See notes on Arise page creation for more details. */
.date { 
        padding-bottom:0;
        margin-bottom:0;
        font-size:12pt;
}

@media screen and (max-width: 900px) {
    .date { 
        text-align:right;
    }
}
@media screen and (min-width: 901px) {
    .date { 
        float:right;
        margin-left:22pt;
    }
}

/********************************/
/********************************/


/*** Modular component styles. Includes styling for the headers, navigation controls, and footer. ***/

/* Site logo. Styled to responsively move to either left or be centred, depending if the page is being viewed on desktop or mobile respectively. */
.logo {           
        text-align:center;
        min-width: 100%;
}

/* Navbar styling. */
.topbar {
        border:1pt solid #f2a000;
        text-align:center;
        margin: 5pt 10pt;
        padding: 5pt 10pt;
        flex-direction: 
}
@media (min-width: 450pt) {
    .topbar {
        float: left;
        display: flex;
        flex-direction: column;
    }
}
.topbar a {
    font-size: 14pt;
    text-decoration: none;
    margin: 0 4pt;
}

/* Site footer styling */
.footer {
        border-top:1pt solid #f2a000;
        font-size:11pt;
        margin-top:32pt;
        text-align:center;
        font-size: 9.5pt;
        max-width: 65%;
        margin-left: auto;
        margin-right: auto;
}

/********************************/
/********************************/


/*** Other misc garbage ***/

/* Arise Index Style */
.arise-toc-td {
  border-width: 1pt;
  border-color: #65f85a;
  border-top-style: solid;
  text-align: center;
  padding-right: 10pt;
  padding-bottom: 5pt;
}
.arise-toc-th {
  padding-bottom: 15pt;
  border-bottom: 1pt;
  border-bottom-style: solid;
}
